{% extends "base.html" %}

{% block main_content %}
    <h1>List of pieces</h1>
    <table>
        {% for piece in pieces %}
            <tr>
                <td>{{ piece["piece_id"] }}</td>
                <td>{{ piece["name"] }}</td>
                <td>{{ piece["car_brand"] }}</td>
                <td>{{ piece["car_model"] }}</td>
                <td>{{ piece["car_year"] }}</td>
                <td>{{ piece["piece_year"] }}</td>
                <td>{{ piece["owner"] }}</td>
                <td>{{ piece["price"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}