{% extends "base.html" %}

{% block main_content %}
    <h1>Car: {{ car["brand"] }} {{ car["model"] }}</h1>
    <div class="car-individual-card">
        <img class="individual-car-image" src="{{ url_for('static', filename = car['image_URL']) }}" alt="IMAGE">
        <br>
        <h3>Brand: {{ car["brand"] }}</h3>
        Model set: <strong>{{ car["model_set"] }}</strong>
        <br>
        Model: <strong>{{ car["model"] }}</strong>
        <br>
        <br>
        {% if user["user_id"] == car["owner"] %}
            <a class="piece-owner-profile-link" href="{{ url_for('piece_owner_profile', user_id = car['owner'], user_visited_id = car['owner']) }}">Owner: <strong>You</strong></a>
        {% else %}
            <a class="piece-owner-profile-link" href="{{ url_for('piece_owner_profile', user_id = car['owner'], user_visited_id = car['owner']) }}">Owner: <strong>{{ car["username"] }}</strong></a>
        {% endif %}
    </div>
{% endblock %}