{% extends "base.html" %}

{% block main_content %}

<h1 style="text-align: center;">I want to register my car</h1>
<div class="register-my-car-form">
    <form action="{{ url_for('register_my_car', user_id = user['user_id'])}}" method = "POST" novalidate>
        <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/dependent_forms.js') }}"></script>

        {{ form.hidden_tag() }}
        <label for="piece_name">Select a car brand</label>
        <select  id="brand" name="brand">
            <option value="bmw">BMW</option>
            <option value="audi">AUDI</option>
            <option value="mercedes">MERCEDES</option>
            <option value="ford">FORD</option>
            <option value="mazda">MAZDA</option>
            <option value="volvo">VOLVO</option>
            <option value="chevrolet">CHEVROLET</option>
            <option value="dodge">DODGE</option>
            <option value="seat">SEAT</option>
        </select>

        <select  id="bmw" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select BMW model</option>
            <option value="x:X1toX7">X: X1 - X7</option>
            <option value="iX:iX1toiX7">iX: iX1 - iX7</option>
            <option value="m">M: M2 - M5</option>
            <option value="e36">E36</option>
            <option value="e46">E46</option>
            <option value="e90toE93">E90 - E93</option>
            <option value="e30">E36</option>
            <option value="520d">520d</option>
        </select>
          
        <select  id="audi" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select AUDI model</option>
            <option value="tT">TT</option>
            <option value="a1-A4">A1 - A4</option>
            <option value="a5-A8">A5 - A8</option>
            <option value="rS3toRS5">RS3 - RS5</option>
            <option value="rS6toRS8">RS6 - RS8</option>
        </select>

        <select  id="mercedes" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select MERCEDES model</option>
            <option value="class A">Class A</option>
            <option value="class B">Class B</option>
            <option value="class C">Class C</option>
        </select>

        <select  id="ford" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select FORD model</option>
            <option value="mustang">Mustang</option>
            <option value="focus">Focus</option>
            <option value="fiesta">Fiesta</option>
            <option value="raptor">Raptor</option>
            <option value="ranger">Ranger</option>
        </select>
        
        <select  id="mazda" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select MAZDA model</option>
            <option value="mazdaN">MAZDA3-MAZDA6</option>
            <option value="cX">CX3 - CX30</option>
            <option value="rX">RX7-RX8</option>
        </select>

        <select  id="volvo" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select VOLVO model</option>
            <option value="s">S60-S90</option>
            <option value="v">V60-V90</option>
            <option value="xC">XC40-XC90</option>
        </select>

        <select  id="chevrolet" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select CHEVROLET model</option>
            <option value="camaro">Camaro</option>
            <option value="silverado">Silverado</option>
            <option value="colorado">Colorado</option>
        </select>

        <select  id="dodge" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select DODGE model</option>
            <option value="challenger">Challenger</option>
            <option value="charger">Charger</option>
            <option value="dakota">Dakota</option>
        </select>

        <select  id="seat" name="model" class="dependency" hidden>
            <option value="0" selected disabled>Select SEAT model</option>
            <option value="leon">Leon</option>
            <option value="ibiza">Ibiza</option>
            <option value="ateca">Ateca</option>
        </select>
        <br />
        {{ form.model.label }}
        {{ form.model() }}
        {% for error in form.model.errors %}
            {{ error }}
        {% endfor %}
        <br />
        <br />
        {{ form.car_year.label }}
        {{ form.car_year() }}
        {% for error in form.car_year.errors %}
            {{ error }}
        {% endfor %}
        <br />
        <br />
        {{ form.image_URL.label }}
        {{ form.image_URL() }}
        {% for error in form.image_URL.errors %}
            {{ error }}
        {% endfor %}
        <br />
        <br />
        {{ form.submit() }}
    </form>
</div>
{% endblock %}